ion-searchbar{
    --background: #fff !important;
    margin: 3px;

}

#productCard{
    width: 97% !important;
}
#product_img{
    border:1px solid #FFFFFF;
    border-radius: 15%;
    box-shadow:3px 3px 16px 4px #ccc;
    width: 85px;
    height:75px;
    margin: 8px;
  }

ion-content {
    background-color:#F4F7FA !important;
    // background: linear-gradient(to bottom, #8cdbe2
    // 0%, #d1f2e7
    // 100%) !important;
  
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }