
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu  contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="row">
            <div class="col-12">
              <ion-menu-button >
                <ion-icon style="color:black" class="close"  name="close"></ion-icon>
              </ion-menu-button>
            </div>
          </div>
          <div class="row">
            <div  class="col-12 mt-2 mb-4 ">
              <span class="dot ion-text-center">
                <img  height="100px" style="margin: 5px;" width="105" src="assets/logo.jpeg" alt="">
              </span>  
            </div>
          </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item  routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <img  class="mb-3" style="height:45px;width:50px;color:#fff;margin:5px" [src]="p.icon" alt="">
              <ion-label class="mb-2">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item (click)="logout()" >
              <img  style="height:45px;width:50px;color:#fff;margin:5px" src="assets/icon/logout.png" alt="">
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
