

<ion-content class="mt-2">
  <div class="myproduct-div mt-5 ">
    <div class="row">
      <div class="col-7">
        <ion-icon (click)="navigateHome()" style="margin:20px;cursor:pointer;color:#23d5ab" name="close"></ion-icon>

      </div>

      <div class="col-5 ion-text-center">
        <span class="seller"><b>24hrs</b></span>
        <!-- <img id="logo" height="100px" width="120px" src="assets/logo.jpeg" alt=""> -->
      </div>

    </div>
    <p class="get-started mt-2 mx-3"><b>Getting Started</b></p>

  



    <div class="row ion-text-center">
      <div class="col-4">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ultyaniw.json" background="transparent"
          speed="1.5" style="width:60%;margin-left: 15px;" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <input type="text" id="edit-field" placeholder="Username" [(ngModel)]="userName" maxlength="10">
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_uz8b4wzt.json" background="transparent"
          speed="1.5" style="width:65%;margin-left: 15px;" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <input disabled type="text" id="edit-field" placeholder="Mobile number" [(ngModel)]="mobileNumber">
        <p class="small text-danger" *ngIf="youtubeurlCheck"><i>Kindly Enter Correct Youtube Url</i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <lottie-player src="https://assets6.lottiefiles.com/datafiles/uihIaQIvWBfYL9a/data.json" background="transparent"
          speed="1.5" style="width:100%;" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <div class="select">
          <select ngModel name="subcategory">
            <option value="" disabled selected>Location</option>
            <option *ngFor="let subcat of subcategoryList" value="{{subcat.tbid}}">
              {{subcat.subsubcategory}}
            </option>
            <option disabled *ngIf="subCategoryNotfound">No Sub Category Found</option>
            <option value="1">Coimbatore</option>
            <option value="1">Chennai</option>
            <option value="1">Madhurai</option>
            <option value="1">Salem</option>
          
          </select>
        </div> 
      </div>
    </div>
    
   
    <div class="row ">
      <div class="col-7">
        <button (click)="navigateHome()" type="button" class="btn btn-success btn-sm skip-btn">Skip</button>
      </div>
      <div class="col-5">
        <button (click)="sellerContact()" type="button" class="btn btn-success btn-sm update-btn">Next</button>
      </div>
    </div>
  </div>


  
</ion-content>