<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336641890643-v87j32fc4ld787f2beno946odfl5ivu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336641890643-v87j32fc4ld787f2beno946odfl5ivu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336641890643-3vmhacji0uv4a4ege7ja3q0efh75g0uf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArHjYgnbUnxHcdDCkXFR0c9dwR2KSKFWE</string>
	<key>GCM_SENDER_ID</key>
	<string>336641890643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sellermobo.app</string>
	<key>PROJECT_ID</key>
	<string>hrssignin</string>
	<key>STORAGE_BUCKET</key>
	<string>hrssignin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336641890643:ios:01e106b98e7e70dfd5a9a6</string>
</dict>
</plist>